{{#> layout title="Front page" currentUrl="/"}}

	{{> partials/hero}}

	<div class="Section">
		<div class="container">

			<div class="Slider"
				data-slides="2"
				data-space-between="40"
				>
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">

							<article class="Card">
								<div class="Card__bg"></div>
								<div class="Badge Card__badge">-50 %</div>
								<div class="Card__body">

									<h4>Ежик “Евгений”</h4>
									<p>Очень любит сладости. Маленький сладкоежка=) Мы называем его так между собой. Ручной, любит внимаение</p>
									<div class="Card__price">
										<del>3 000 {{icon "rouble" class="Icon -roubleSm"}}</del>
										1 500 {{icon "rouble" class="Icon -rouble"}}
									</div>

								</div>

								<img src="../media/hedgehog-1.png" class="Card__image" alt="">

								<div class="Card__info d-flex md:d-none">

									<div class="d-flex align-center mr-100">
										{{icon "syringe" class="Icon rect-0625 mr-025"}}
										<div class="textCase-lower">Привит</div>
									</div>

									<div class="d-flex align-center">
										{{icon "heart" class="Icon rect-0625 mr-025"}}
										<div class="textCase-lower">1235</div>
									</div>

								</div>

								<div class="TooltipOrigin Card__info d-none md:d-block">
									{{icon "info" class="Icon rect-200"}}

									<div class="Tooltip d-flex">

										<div class="d-flex align-center mr-150">
											{{icon "syringe" class="Icon mr-050"}}
											<div class="textCase-lower">Привит</div>
										</div>

										<div class="d-flex align-center">
											{{icon "heart" class="Icon mr-050"}}
											<div class="textCase-lower">1235</div>
										</div>

									</div>

								</div>

								<button class="Card__button">
									{{icon "plus" class="Icon -plus"}}
								</button>

							</article>

						</div>
						<div class="swiper-slide">

							<article class="Card -brand2">
								<div class="Card__bg"></div>
								<div class="Badge Card__badge">-50 %</div>
								<div class="Card__body">

									<h4>Ежик “Максим”</h4>
									<p>Немного игривый и задорный характер этого друга никого не оставит равнодушным!</p>
									<div class="Card__price">
										<del>5 000 {{icon "rouble" class="Icon -roubleSm"}}</del>
										2 500 {{icon "rouble" class="Icon -rouble"}}
									</div>

								</div>

								<img src="../media/hedgehog-2.png" class="Card__image" alt="">

								<div class="TooltipOrigin Card__info">
									{{icon "info" class="Icon rect-200"}}

									<div class="Tooltip d-flex">

										<div class="d-flex align-center mr-150">
											{{icon "syringe" class="Icon mr-050"}}
											<div class="textCase-lower">Привит</div>
										</div>

										<div class="d-flex align-center">
											{{icon "heart" class="Icon mr-050"}}
											<div class="textCase-lower">1235</div>
										</div>

									</div>

								</div>

								<button class="Card__button">
									{{icon "plus" class="Icon -plus"}}
								</button>

							</article>

						</div>
						<div class="swiper-slide">

							<article class="Card">
								<div class="Card__bg"></div>
								<div class="Badge Card__badge">-50 %</div>
								<div class="Card__body">

									<h4>Ежик “Евгений”</h4>
									<p>Очень любит сладости. Маленький сладкоежка=) Мы называем его так между собой. Ручной, любит внимаение</p>
									<div class="Card__price">
										<del>3 000 {{icon "rouble" class="Icon -roubleSm"}}</del>
										1 500 {{icon "rouble" class="Icon -rouble"}}
									</div>

								</div>

								<img src="../media/hedgehog-1.png" class="Card__image" alt="">

								<div class="TooltipOrigin Card__info">
									{{icon "info" class="Icon rect-200"}}

									<div class="Tooltip d-flex">

										<div class="d-flex align-center mr-150">
											{{icon "syringe" class="Icon mr-050"}}
											<div class="textCase-lower">Привит</div>
										</div>

										<div class="d-flex align-center">
											{{icon "heart" class="Icon mr-050"}}
											<div class="textCase-lower">1235</div>
										</div>

									</div>

								</div>

								<button class="Card__button">
									{{icon "plus" class="Icon -plus"}}
								</button>

							</article>

						</div>
						<div class="swiper-slide">

							<article class="Card -brand2">
								<div class="Card__bg"></div>
								<div class="Badge Card__badge">-50 %</div>
								<div class="Card__body">

									<h4>Ежик “Максим”</h4>
									<p>Немного игривый и задорный характер этого друга никого не оставит равнодушным!</p>
									<div class="Card__price">
										<del>5 000 {{icon "rouble" class="Icon -roubleSm"}}</del>
										2 500 {{icon "rouble" class="Icon -rouble"}}
									</div>

								</div>

								<img src="../media/hedgehog-2.png" class="Card__image" alt="">

								<div class="TooltipOrigin Card__info">
									{{icon "info" class="Icon rect-200"}}

									<div class="Tooltip d-flex">

										<div class="d-flex align-center mr-150">
											{{icon "syringe" class="Icon mr-050"}}
											<div class="textCase-lower">Привит</div>
										</div>

										<div class="d-flex align-center">
											{{icon "heart" class="Icon mr-050"}}
											<div class="textCase-lower">1235</div>
										</div>

									</div>

								</div>

								<button class="Card__button">
									{{icon "plus" class="Icon -plus"}}
								</button>

							</article>

						</div>
					</div>
				</div>

				<div class="swiper-button-prev">
					{{icon "arrow" class="Icon"}}
				</div>

				<div class="swiper-button-next">
					{{icon "arrow" class="Icon rotate-180"}}
				</div>
			</div>

			<form class="Box -form">

				<h2>Заполните заявку и мы забронируем для Вас нового друга</h2>

				<div class="tile mb-200 md:mb-250">
					<div class="row gap-lg justify-between align-center">
						<div class="col-24 md:col-15 lg:col-12 xl:col-15">

							<div class="tile">
								<div class="row gap-sm">
									<div class="col-auto">

										<label class="Toggle">
											<input type="radio" class="Toggle__input" name="for" value="1" checked="checked">
											<span class="Toggle__button">хочу ёжика для себя</span>
										</label>

									</div>
									<div class="col-auto">

										<label class="Toggle">
											<input type="radio" class="Toggle__input" name="for" value="2">
											<span class="Toggle__button">хочу ёжика для детей</span>
										</label>

									</div>
									<div class="col-auto">

										<label class="Toggle">
											<input type="radio" class="Toggle__input" name="for" value="3">
											<span class="Toggle__button">хочу ёжика для разведения</span>
										</label>

									</div>
								</div>
							</div>

						</div>
						<div class="col-24 md:col-9 lg:col-12 xl:col-9">

							<div class="tile">
								<div class="row">
									<div class="col-24 sm:col-10 md:col-24 lg:col-12">

										<label class="Radio">
											<input type="radio" name="quantity" id="" checked="checked">
											<span class="Radio__label">Мне нужен 1-2 ёжика</span>
										</label>

										<label class="Radio">
											<input type="radio" name="quantity" id="">
											<span class="Radio__label">Мне нужны 3-4 ёжика</span>
										</label>

									</div>
									<div class="col-24 sm:col-10 md:col-24 lg:col-12">

										<label class="Radio">
											<input type="radio" name="quantity" id="">
											<span class="Radio__label">Мне нужны 3 и более ёжиков</span>
										</label>

										<label class="Radio">
											<input type="radio" name="quantity" id="">
											<span class="Radio__label">Пока присматриваюсь</span>
										</label>

									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="tile">
					<div class="row">
						<div class="col-24 lg:col-8">

							<input type="text" class="FormInput" name="" placeholder="Ваше имя">

						</div>
						<div class="col-24 lg:col-8">

							<input type="text" class="FormInput" name="" placeholder="Ваш телефон">

						</div>
						<div class="col-24 lg:col-8">

							<input type="email" class="FormInput" name="" placeholder="Ваш e-mail">

						</div>
						<div class="col-24">

							<textarea class="FormInput" name="" placeholder="Комментарий к заявке" ></textarea>

						</div>
					</div>
				</div>

				<div class="Box__actions">

					<button class="Btn -wide">Купить ёжика</button>

				</div>
			</form>

			<div class="md:text-center mt-300 md:mt-400">

				<div class="font-decor fw-700 fz-150 lh-120  d-block md:d-flex justify-center align-center">
					{{icon "hedgehog-dark" class="Icon -hedgehogDark mr-075"}}
					<div>У нас осталось еще: <a href="">25 ёжиков</a></div>
				</div>

				<div class="row justify-center mt-150">
					<div class="col-24 md:col-7 lg:col-6 xl:col-4">

						<div class="">Торопитесь! Акция действует <span class="nowrap">до 26. 02. 2023</span></div>

					</div>
				</div>

			</div>

		</div>
	</div>

{{/layout}}
